
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/learning-python.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
OOP/inheritance/__pycache__/polygon.cpython-39.pyc
OOP/inheritance/__pycache__/rectangle.cpython-39.pyc
OOP/inheritance/__pycache__/shape.cpython-39.pyc
OOP/inheritance/__pycache__/triangle.cpython-39.pyc
